<div class="container-fluid">
  <nav class="navbar navbar-light bg-light" style="margin-bottom:30px">
    <span class="navbar-brand mb-0 h1" routerLink="/posts">Blog</span>
  </nav>
  <router-outlet></router-outlet>
</div>
