<div class="card" style="margin-bottom:20px">
  <div class="card-body">
    <form>
      <div class="form-group">
        <input #postName type="text" class="form-control" id="exampleInputEmail1" placeholder="Digite o Post">
      </div>
      <button type="submit" class="btn btn-sm btn-info" (click)="add(postName.value); postName.value=''">
        Adicionar
      </button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li  *ngFor="let post of posts" class="list-group-item">
            <a (click)="getPost(post.id)">
              {{post.name}}
            </a>
            <button class="btn btn-sm btn-danger float-right" title="delete post"
            (click)="delete(post)">x</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card" *ngIf="post">
      <div class="card-body">
        <h2>{{ post.name | uppercase }}</h2>
        <div><span>id: </span>{{post.id}}</div>
        <div>
          <label>Content:
            {{post.name}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
